/* DEFINIÇÕES DE TAMANHO E FONTE */
body {
    height: 100vh;
    width: 100vw;
    font-family: "Inter", sans-serif;
    animation: zoom 1s;
  }
/* DEFINIÇÕES DE BACKGROUND E TAMANHO */
main {
    display: flex;
    width: 100%;
    height: 100%;
}

/* FORMULÁRIO DE LOGIN */
/*form {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-evenly;*/
/*    align-items: center;*/
/*    width: 50%;*/
/*    height: 100%;*/
/*    background-color: white;*/
/*    padding-top: 4%;*/
/*    padding-bottom: 1%;*/
/*}*/
/** Header do Form **/
.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: fit-content;
}
.form-header h1 {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 0.05em;
}
.form-header span {
    font-size: 1.5rem;
    font-weight: 400;
    color: #a9a9a9;
}
/** Login com o Google **/
.login-google-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    width: 72%;
    gap: 8px;
}
.button-login-google {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    margin-bottom: 3%;
    background-color: #ececec;
    border-radius: 50%;
}
.button-login-google img {
    height: 95%;
    width: 95%;
}
.text-login-google {
    font-size: 1.2rem;
    font-weight: 400;
    color: #a9a9a9;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}
.text-login-google::after {
    content: "";
    display: flex;
    height: 2px;
    background-color: #ececec;
    flex-grow: 1;
}
.text-login-google::before {
    content: "";
    display: flex;
    height: 2px;
    background-color: #ececec;
    flex-grow: 1;
}
/*** Inputs dos Dados de Login ***/
.inputs-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 16px;
    padding-top: 2%;
}
label {
    font-size: 1.2rem;
    font-weight: 400;
  }
label input {
    font-size: 1.1rem;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid black;
}
/*** Reset da Senha ***/
.reset-pass {
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
}
.reset-pass a {
    font-size: 1.1rem;
}

/*** BOTÃO DE LOGIN ***/
.login-button {
    height: 50px;
    background-color: #09738a;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 8%;
    transition: 0.5s;
}
.login-button:hover {
    background-color: #78a890;
    transform: scale(1.03);
}
/* NOVO CADASTRO */
.new-register {
    display: flex;
    font-size: 1.1rem;
    margin-top: 20%;
    gap: 6px;
}
.new-register a {
    font-weight: bold;
}

/* Visualização de senha */
#icon {
    margin-left: 93%;
    transform: translateY(-130%);
    /* background: url("/assets/img/opened-eye.png"); */
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#icon.hide {
    /* background: url("/assets/img/closed-eye.png"); */
    background-size: cover;
}

/* ANIMAÇÃO DE ABERTURA */
@keyframes zoom {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}

/**
*
*   RESPONSIVIDADE
*
**/