
.bg-image{
    height:70%;
}


/* FORMULÁRIO DE PROFISSIONAIS */

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: white;
    padding-bottom: 1%;
}

/** Header do Form **/
.form-header h1{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding-top: 5%;
}
.form-header span{
    font-size: 1.5rem;
    font-weight: 400;
    color: #A9A9A9;
}

/*** Inputs das Caracteristicas do Profissional ***/


/** Especialidades do profissional **/

.specialties span{
    font-size: 1.2rem;
    font-weight: 400;
}

.inputs-specialties label{

    display: flex;
    align-items: center;
    /* width: max-content; */
    font-size: 1.2rem;
    gap: 5px;
    padding-right: 15px;
}

.inputs-specialties input{

    width: 20px;
    border: none;
    background-color: #A9A9A9;


}

/*****************************/

.animals span{

    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 10px;
}

.inputs-animals label{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 6px;
    padding-right: 15px;
}
.inputs-animals input{
    width: 20px;
    border: none;
    background-color: #A9A9A9;
}
label{
    font-size: 1.2rem;
    font-weight: 400;
}
label input{
    font-size: 1.1rem;
    height: 60px;
    width: 80%;
    border-bottom: 1px solid black;
}

.atuacao-container p{
    padding-top: 16px;
}


/* Alinhamento de duas label*/

/* ERROR */
.form-group{
    display: flex;
    padding-top: 5%;
    width: 100%;
    gap: 35px;
}

/** Botão de Cadastro **/

.register-button a{
    width: 100%;
}


/* FAZER LOGIN */
.text-login{
    display: flex;
    font-size: 1.1rem;
    gap: 6px;
}
.text-login a{
    font-weight: bold;
}


/* ANIMAÇÃO DE ABERTURA */
@keyframes zoom{
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/**
*
*   RESPONSIVIDADE
*
**/

/* DESKTOP */
@media (max-width:1920px) {

    .form-header h1{
        font-size: 2rem;
    }

    .form-header span{
        font-size: 1rem;
    }

    .inputs-specialties label{

        font-size: 1rem;
        gap: 3px;
        padding-right: 20px;

    }
    .inputs-specialties label input {
        height: 60%;
    }

    .inputs-animals label input {
        height: 70%;
    }
    
    /* input[type = "checkbox"]{
        height: 80%;
    } */

    .atuacao-container label p{

        font-size: 1rem;

    }

    .inputs-animals label{

        font-size: 1rem;
        gap: 3px;
        padding-right: 20px;
    }

    .back-view i {
        font-size: 3rem;
    }


    .bg-image{

        height: 60%;
    }

    /* FAZER LOGIN */
    .text-login{
        font-size: 1rem;
    }
}

@media (max-width: 1600px) {
    
    .bg-image{

        height: 40%;

    }
    .form-header h1{
        font-size: 2rem;
    }

    
}
@media (max-width: 1130px){

    .form-header h1 {
        font-size: 1.9rem;
    }

    .atuacao-crmv p{
      font-size: 20px;
      width: 180px;
    }

    .atuacao-container label input{

        width: 100%;

    }



    .form-group{
        flex-direction: column;
    }

 

}

/* MOBILE */

@media (max-width: 770px){

    form{
        width: 100%;
        height: 100%;
    }

}
